.heading{
    font-size:30px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px lightsalmon;    
}
.heading_div{
float:none;    
background-color:white;
padding:10px;
border-radius: 30px;
border-color: darkgreen;
border-width: 14px;
color:black;
box-shadow:5px 5px 5px cornsilk;    
}
.heading_div2{
font-size:18px; 
border-radius: 30px;
border-color: darkgreen;
border-width: 14px;   
}
.result_para_tag{
    box-shadow: 5px 5px 5px rebeccapurple;
    font-size:20px;  
    color:darkblue;  
    }
    .footer_div{
    position: fixed;
    color:green;
    bottom:0;
    width:100%;
    background-color:royalblue;
    line-height: 3;    
    text-align: center;
    }
    canvas{
    border:5px solid darkcyan;
    border-radius: 20px; 
    box-shadow: 10px 10px 10px hotpink;   
    margin-top:150px;
    }